@charset "utf-8";
html{
    font: 12px '宋体';
}
.top {
    background-color: #F7F7F7;
    height: 26px;
    border-bottom: 1px solid #D8D8D8;
}
.top_page {
    width: 970px;
    height: 26px;
    margin: 0 auto;
}
.top_page_l{
    line-height: 26px;
}
.top_page_r {
    line-height: 26px;
}
a{
    color: #000000;
}
.top_page_r li {
    float: left;
    padding-right: 10px;
}
.top_page_r ul li s{
    width: 14px;
    height: 12px;
    display: inline-block;
    background:url("../image/icons.jpg");
    vertical-align: middle;
}
.logo{
    width: 970px;
    height: 98px;
    margin: 0 auto;
}
.logo_l{
    width: 200px;
    height: 55px;
    margin: 24px 0 19px 9px;
    background: url("../image/icons.jpg") -20px 0;
    text-indent: -1000em;


}
.logo_r{
    width: 530px;
    height: 42px;
    border: 1px solid #c9c9c9;
    margin-top: 29px;
}
.logo_r_content {
    margin: 5px 5px 5px 4px;
}
.logo_r_search{
    width: 418px;
    height: 28px;
    border: none;
    border: solid 1px #c9c9c9;
    color: #999999;
}
.logo_r_btn{
    width: 99px;
    height: 29px;
    background-color:#2F70D0;
    border: none;
}
.nav{
    width: 970px;
    height: 25px;
    margin: 0 auto;
    border-bottom: 2px solid #0266a3;
}
.nav li {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
    float: left;
    font-size: 14px;
    font-weight: bold;

}
.nav li a {
    color:#0266a3;
}

.nav li:hover{
    background-color: #0266a3;
}
.nav li a:hover{
    color: white;
}
.banner{
    width: 970px;
    margin: 0 auto;
    height: 210px;
    margin-top: 10px;

}
.banner .subNav{
    width: 200px;
    height: 210px;
    margin-right: 11px;
}
.banner .ad {
    width: 520px;
    height: 210px;
    background: url("../image/icons.jpg") 100px 0px;
}
.banner .message{
    width: 230px;
    height: 210px;
}
.subNav h2 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    background-color: #0266a3;
    color: white;
}
.subNav s {
    display: inline-block;
    width: 15px;
    height: 13px;
    background:url("../image/icons.jpg") -200px -200px;
    margin-left: 9px;
    vertical-align: middle;

}
.subNav li {
    font-size: 15px;
    padding-top: 12px;
}
.subNav li a {
    padding-left: 14px;
}
.subNav ul {
    background-color: #ebf0f6;
    height: 180px;
}
.message .message_top{
    height: 95px;
    background-color: #f7faff;
    border: solid 1px #DDDDDD;
    margin-bottom: 21px;
}

.message .message_bottom{
    height: 92px;
    background-color: #F7F7F7;
}
.message .message_top s{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../image/icons.jpg") -250px -250px;
    margin: 20px 10px 0 10px;
}
.message_top .fw {
    font-weight: bold;
    padding: 8px 0 0  18px;
}
.message_top .cheap{
    margin-top: 25px ;
}
.message_bottom .findeMessage{
    text-align: center;
    padding-top: 11px;
    font-size: 14px;
}
.message_bottom .tel{
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    margin-top: 10px;
}
.message_bottom .tel s{
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../image/icons.jpg") -100px -30px;
    vertical-align: middle;
}
.message_bottom .btn{
    width: 81px;
    height: 23px;
    background: url("../image/icons.jpg") -10px -30px;
    margin: 9px 0 0 75px;
    border: none;
    color: white;
}
.material{
    border-top: 2px solid #C3D7E4;
    width: 950px;
    height: 34px;
    margin: 0 auto;
    background: #ECF1F7;
    margin-top: 14px;
    line-height: 34px;
    font-weight: bold;
    padding-left: 20px;

}

.product{
    width: 970px;
    height: 345px;
    margin: 0 auto;
    margin-top: 12px;

}
.product .product_l{
    width: 729px;
    height: 345px;
    background: pink;
    border: 1px solid #D8D8D8;
}

.product .product_r{
    width: 230px;
    height: 345px;
    background: bisque;

}

.product .product_l_top{
    height: 155px;
    background: gold;
    padding: 17px 0 0 26px;
}
.product .product_l_top .product_l_top_product1{
    background: white;
    width: 350px;
    height: 146px;
}
.product .buy {
    width: 99px;
    height: 146px;
}
.product .explain{
    width: 251px;
    height: 146px;
    background: greenyellow;
}
.product .buy .img{
    height: 100px;
    border: 1px solid  #CACACA;
}
.product .buy .img s{
    display: inline-block;
    width: 90px;
    height: 62px;
    margin: 10px 4px 0 3px;
    background: url("../image/icons.jpg") -80px -30px;

}
.product .buy .btn{
    width: 99px;
    height: 26px;
    background-color: #0A84E3;
    border: none;
    color: white;
    margin-top: 15px;
}