@charset "utf-8";
html{
    font: 12px '宋体';
}
.top {
    background-color: #F7F7F7;
    height: 26px;
    border-bottom: 1px solid #D8D8D8;
}
.top_page {
    width: 970px;
    height: 26px;
    margin: 0 auto;
}
.top_page_l{
    line-height: 26px;
}
.top_page_r {
    line-height: 26px;
}
a{
    color: #000000;
}
.top_page_r li {
    float: left;
    padding-right: 10px;
}
.top_page_r ul li s{
    width: 14px;
    height: 12px;
    display: inline-block;
    background:url("../image/icons.jpg");
    vertical-align: middle;
}
.logo{
    width: 970px;
    height: 98px;
    margin: 0 auto;
}
.logo_l{
    width: 200px;
    height: 55px;
    margin: 24px 0 19px 9px;
    background: url("../image/icons.jpg") -20px 0;
    text-indent: -1000em;

}
.logo_r{
    width: 530px;
    height: 42px;
    background: palegoldenrod;
}
.logo_r_search{
    width: 418px;
    height: 28px;
    border: none;
    border: solid 1px #c9c9c9;
}
.logo_r_btn{
    width: 99px;
    height: 30px;
    padding-top: 0!important;

}